.about {
  font-weight: 400;
  font-size: 1.4rem;
  color: #333;
  max-width: 800px;
  padding-left: 2rem;

  &__wrapper {
    overflow: hidden;
    margin: 0 0 2rem;
    position: relative;
  }

  &__content {
    transform: translateY(200%);
    transition: all .9s cubic-bezier(.4,0,0,1);
    transition-delay: 0s;
    visibility: hidden;
    margin: 0;
    line-height: 1.5;
  }
}

.is-loaded {
  .about {
    &__content {
      transform: translateY(0);
      transition-delay: .4s;
      visibility: visible;
    }
  }
}
