.animate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;

  &__item {
    position: relative;
    overflow: hidden;
    display: block;
    width: calc(50% - 4rem);
    background: #fff;
    text-decoration: none;
  }

  &__content {
    position: relative;
    padding-top: 50%;
  }

  &__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}
