.buttons {
  margin: 4rem 2rem 2rem;
  opacity: 0;
  transform: translateY(50px);
  transition: all .6s cubic-bezier(.4,0,0,1);
  visibility: hidden;
  transition-delay: .1s;
}

.button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 1px solid #333;
  color: #333;
  position: relative;
  transition: color .4s cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;

  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1);
    background: #333;
  }

  &:hover {
    color: #fff;
    text-decoration: none;
  }

  &:hover:after {
    transition-delay: .1s;
    transform: scaleX(1.005);
  }

  &--order {
    border-color: #e2383b;

    &:after {
      background: #e2383b;
    }
  }
}

.is-loaded {
  .buttons {
    opacity: 1;
    transform: translateY(0);
    transition-delay: .9s;
    visibility: visible;
  }
}
