.fire-button {
  position: fixed;
  bottom: 25px;
  right: 15px;
  z-index: 999;
  width: 80px;
  height: 80px;

  &__wave {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 80px;
    height: 80px;
    background: red;
    border-radius: 50%;
    z-index: -1;
    opacity: 1;
  }

  &__link {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-image: linear-gradient(90deg,#ff2f61,#ff744b);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/fire_icon.svg) center center no-repeat;
    background-size: 100%;
    width: 50%;
    height: 100%;
    z-index: 1;
  }
}
