.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__item {
    width: calc(50% - 4rem);
    padding: 2rem;
    overflow: hidden;
    visibility: hidden;
    transform: translateY(100vh);
    transform-origin: 0 0;
    transition: all .6s cubic-bezier(.4, 0, 0, 1);
    cursor: pointer;

    &--small {
      width: calc(50% - 14rem);
      padding: 7rem;
    }

    &--small .gallery__image {
      top: -3rem;
    }

    &.is-visible {
      transition-delay: .1s;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }

    &--small.is-visible {
      transition-delay: .6s;
    }

    &:hover {
      .gallery__content {
        transform: scale(.95);
      }

      .gallery__wrapper {
        transform: scale(1.1);
      }

      &:after {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition-delay: .1s;
      }
    }

    &:after {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      content: '+';
      font-size: 1rem;
      font-weight: 400;
      color: #fff;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      background: rgba(0, 0, 0, .8);
      z-index: 1000;
      text-align: center;
      opacity: 0;
      transition: all .4s cubic-bezier(.4, 0, 0, 1);
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: 120%;
  }

  &__content {
    position: relative;
    padding-top: 65%;
  }


  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrapper,
  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .6s cubic-bezier(.4,0,0,1);
  }
}
