.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .6s cubic-bezier(.4,0,0,1);
  overflow: hidden;
  cursor: pointer;
  will-change: opacity;

  &.is-visible {
    transition-delay: .1s;
    opacity: 1;
    visibility: visible;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100vh);
    text-align: center;
    transition: all .6s cubic-bezier(.4,0,0,1);
    visibility: hidden;
    max-width: 60%;
    will-change: transform;
  }

  &.is-visible &__container {
    transition-delay: .1s;
    visibility: visible;
    transform: translate(-50%, -50%);
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
}
