<!--<h1 class="header">About us</h1>-->
<div class="header__wrapper">
  <h1 class="header__title">About our company</h1>
</div>

<div class="images">

  <div class="images__wrapper" data-parallax='{"y" : -60, "smoothness" : 0}'>
    <img class="images__item" src="/images/surfer.jpg" alt="Surfer" />
  </div>

  <div class="images__wrapper" data-parallax='{"y" : 60, "smoothness" : 0}'>
    <img class="images__item" src="/images/cool-girl.jpg" alt="Cool girl" />
  </div>

</div>

<div class="comments js-visible">
Execute a function after two Ajax requests are successful. (See the jQuery.ajax() documentation for a complete description of success and error cases for an ajax request).
</div>

<div class="fade"><span class="fade__content">About us</span></div>
