<div class="header__wrapper">
  <h1 class="header__title">Номер №14 Business Twin</h1>
</div>

<div class="about">
  <div class="about__wrapper">
    <p class="about__content">
      Номер площадью 25 м² оснащен всеми современными удобствами: двумя раздельными комфортными кроватями,
      функциональной рабочей зоной, шкафом для багажа, LED телевизором, кабельным телевидением,
      мини-баром (по запросу).
    </p>
  </div>
</div>

<div class="buttons">
  <a class="button button--order" href="#">Забронировать</a>
</div>

<div class="gallery">

  <div class="gallery__item js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_01.jpg"
          alt="Italy"
          data-parallax='{"y" : -100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item gallery__item--small js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_02.jpg"
          alt="Italy"
          data-parallax='{"y" : 100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item gallery__item--small js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_03.jpg"
          alt="Italy"
          data-parallax='{"y" : 100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_04.jpg"
          alt="Italy"
          data-parallax='{"y" : -100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_05.jpg"
          alt="Italy"
          data-parallax='{"y" : -100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item gallery__item--small js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_06.jpg"
          alt="Italy"
          data-parallax='{"y" : 100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

  <div class="gallery__item gallery__item--small js-visible js-modal">
    <div class="gallery__content">
      <div class="gallery__wrapper">
        <img
          class="gallery__image"
          src="/images/gallery/gallery_07.jpg"
          alt="Italy"
          data-parallax='{"y" : 100, "smoothness" : 2}' />
      </div>
    </div>
  </div>

</div>

<div class="social">
  <div class="social__item social__item--fb">
    <a href="#" class="social__icon">FB</a>
  </div>
  <div class="social__item social__item--vk">
    <a href="#" class="social__icon">VK</a>
  </div>
  <div class="social__item social__item--google">
    <a href="#" class="social__icon">G+</a>
  </div>
</div>

<div
  class="fade"
  data-parallax='{"y" : 200, "smoothness" : 2}'>
  <span class="fade__content">Business Twin</span>
</div>

<div class="modal">
  <div class="modal__container">
    <div class="modal__content">
    </div>
  </div>
</div>
