<!--<h1 class="header">Contact us</h1>-->
<div class="header__wrapper">
  <h1 class="header__title">Contact us</h1>
</div>

<div class="social">
  <div class="social__item social__item--fb">
    <a href="#" class="social__icon">FB</a>
  </div>
  <div class="social__item social__item--vk">
    <a href="#" class="social__icon">VK</a>
  </div>
  <div class="social__item social__item--google">
    <a href="#" class="social__icon">G+</a>
  </div>
</div>

<div class="comments js-visible">In the event a Deferred was resolved with no value, the corresponding doneCallback argument will be undefined. If a Deferred resolved to a single value, the corresponding argument will hold that value.</div>

<div class="fade"><span class="fade__content">Contact us</span></div>

<div class="parallax-box js-visible">
  <div class="parallax-box__content">
    <div class="parallax-box__wrapper">
      <img
        class="parallax-box__image"
        src="/images/lighthouse.jpg"
        alt="Italy"
        data-parallax='{"y" : -60, "x" : -120, "smoothness" : 2}' />
    </div>
  </div>
</div>
