<section class="content content--invert">
  <div class="header__wrapper">
    <h1 class="header__title">Write us</h1>
  </div>

  <div class="comments js-visible">
    Execute a function after two Ajax requests are successful. (See the jQuery.ajax() documentation for
    a complete description of success and error cases for an ajax request).
  </div>

</section>

<div class="social social--bottom social--left">
  <div class="social__item social__item--fb">
    <a href="#" class="social__icon">FB</a>
  </div>
  <div class="social__item social__item--vk">
    <a href="#" class="social__icon">VK</a>
  </div>
  <div class="social__item social__item--google">
    <a href="#" class="social__icon">G+</a>
  </div>
</div>

<div class="explore">
  <ul class="explore__list">
    <li class="explore__item">
      Explore projects
    </li>
  </ul>
</div>

<div class="background">
  <div class="background__type">
    <svg class="c-back" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 217.39 264.51">
      <title>c-back</title>
      <g>
        <g opacity="0.8">
          <path class="c-back__letter" d="M195.1,191.08a92.56,92.56,0,0,1-66,18.06c-40.29-4.49-67-35.09-67-76.88,0-48.46,29.71-75.32,67-77.33,1.51-.09,3-.13,4.57-.13,24.12,0,38.37,7.31,52.25,15.71l25.94-43.84C196.57,11.69,167.7,0,133.72,0c-1.54,0-3.06,0-4.57,0C44.09,2.06,0,60.1,0,132.26c0,78,52.54,130,129.15,132.17,1.63.06,3.28.08,4.94.08,34.71,0,68-12.42,83.3-29.59Z" fill="#dd2626"/>
        </g>
        <g>
          <path d="M129.15,0V0H0V132.26C0,60.1,44.09,2.06,129.15,0Z" fill="#fff"/>
          <path d="M0,132.26V264.51H129.15v-.08C52.54,262.3,0,210.23,0,132.26Z" fill="#fff"/>
        </g>
      </g>
    </svg>
  </div>
  <div class="background__image"></div>
</div>

<style>
  .menu {
    background: transparent;
    box-shadow: none;
  }
</style>
