@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT:400,400i,700&subset=cyrillic');
@import 'partials/_gallery';
@import 'partials/_modal';
@import 'partials/_about';
@import 'partials/_button';
@import 'partials/_animate';
@import 'partials/_fire-button';

html,
body {
  width: 100%;
  position: relative;
}

body {
  background: #f5f5f5;
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  font: 10px 'Old Standard TT', serif;
  font-weight: 500;
  box-sizing: border-box;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Old Standard TT', serif;
}

.grid {
  display: flex;
  height: 100vh;
  width: calc(100% - 40px);
  margin: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;

  &__column {
    width: 25%;
    height: 100vh;
    border-right: 1px solid #d8d8d8;
    transform: scaleY(0);
    transform-origin: 0 0;
    transition: all .9s ease-in-out;
  }

  &__column:first-child {
    border-left: 1px solid #d8d8d8;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 15px 60px;
  box-shadow: 0 3px 15px #efefef;
  transform: scaleY(0);
  opacity: 0;
  transition: all .9s cubic-bezier(.4,0,0,1);
  transform-origin: 0 0;

  &__link {
    position: relative;
    color: #333;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 400;
    opacity: .7;
    transition: opacity .2s ease-in-out;

    &[disabled] {
      opacity: .5;
    }

    &:hover {
      opacity: 1;
    }

    &:focus,
    &:active,
    &:active:focus {
      outline: none;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -5px;
      width: 20px;
      height: 2px;
      background: #333;
      left: 50%;
      transform: scaleX(0) translateX(-50%);
      transform-origin: 0 0;
      transition: all .3s cubic-bezier(.4,0,0,1);
    }

    &:hover:after {
      transform: scaleX(1) translateX(-50%);
    }

    &.is-current {
      opacity: 1;
    }
  }
}

.container {
  padding: 20px;
  min-height: 300vh;
  max-width: 100vw;
}

.content {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translateY(-50%);

  .header__wrapper {
    width: 100%;
  }

  &--invert {

    .header__wrapper {
      overflow: hidden;
      margin: 2rem 0;
      position: relative;
    }

    .header__title {
      color: #fff;
    }

    .comments {
      color: #fff;
      padding-right: 20%;
    }
  }
}

.header {
  opacity: 0;
  transform: translateX(100px);
  transition: all .9s cubic-bezier(.4,0,0,1);
  font-weight: 700;
  visibility: hidden;
  transition-delay: .2s;
  font-size: 4rem;
  color: #333;

  &__wrapper {
    overflow: hidden;
    margin: 4rem 0 2rem 2rem;
    position: relative;
  }

  &__title {
    transform: translateY(200%);
    transition: all .9s ease-in-out;
    transition-delay: 0s;
    font-weight: 700;
    visibility: hidden;
    font-size: 3rem;
    color: #000;
    margin: 0;
    line-height: 1;
  }
}

.comments {
  transform: translateY(100vh);
  transition: transform .9s cubic-bezier(.4,0,0,1);
  transition-delay: .2s;
  font-size: 1.4rem;
  line-height: 150%;
  color: #333;
  max-width: 50%;
  margin: 3rem 0;
  visibility: hidden;
}

.images {
  margin: 15px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  &__wrapper {
    width: calc(50% - 1rem);
  }

  &__item {
    width: 100%;
    height: auto;
    max-width: 100%;
    transform: scaleY(.7);
    transform-origin: 0 0;
    opacity: 0;
    transition: all .9s cubic-bezier(.4,0,0,1);
  }

  &__wrapper:nth-child(2n) {
    .images__item {
      transform: scaleY(.7) translateY(-80px);
      transform-origin: 0 -80px;
    }
  }
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  position: absolute;
  right: 20px;
  top: 80px;

  &--bottom {
    top: auto;
    bottom: 0;
  }

  &--left {
    left: 20px;
    right: auto;
  }

  &__item {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    line-height: 42px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 3px 15px #efefef;
    transform: scale(1) translateY(10rem);
    opacity: 0;
    transition: all .6s cubic-bezier(.4,0,0,1);

    &:first-child {
      margin: 0 0 10px 0;
    }

    &--fb {
      background: #3b5999;
    }

    &--vk {
      background: #4c75a3;
    }

    &--google {
      background: #dd4b39;
    }
  }

  &__icon {
    font: 0.7rem Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-decoration: none;
    color: #fff;
  }
}

.fade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  z-index: -1;

  &__content {
    position: absolute;
    top: 20vh;
    left: 100vw;
    color: #ececec;
    font-size: 13rem;
    font-weight: 700;
    display: block;
    word-wrap: normal;
    white-space: nowrap;
    z-index: -1;
    transition: left .9s cubic-bezier(.4,0,0,1);
  }
}

.background {
  background: #fff;
  position: fixed;
  z-index: -1;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .6s ease-in-out;

  &__type {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 20%;
    transform: scale(1.1);
  }

  &__image {
    width: 100%;
    height: 100%;
    background: url(../images/italy.jpg) left center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 15.1%;
    z-index: -1;
  }
}

.c-back {
  height: 100%;

  &__letter {
    fill: #dd2626;
  }
}

.explore {
  position: fixed;
  top: 50%;
  left: 1.5rem;
  transform: rotate(-90deg) translateY(-250%);
  transform-origin: top left;
  transition: all .9s cubic-bezier(.4,0,0,1);
  visibility: visible;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    padding: 0;
    margin: 0;
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #333;
  }
}

.parallax-box {
  width: 400px;
  height: 400px;
  overflow: hidden;
  visibility: hidden;
  transform: scaleX(.7);
  transform-origin: 0 0;
  opacity: 0;
  transition: all .6s cubic-bezier(.4,0,0,1);

  &__image {
    width: auto;
    height: 200%;
    top: 50%;
    left: 50%;
  }

  &__wrapper,
  &__content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all .6s cubic-bezier(.4,0,0,1);
    will-change: transform;
  }

  &:hover {
    .parallax-box__content {
      transform: scale(.95);
    }

    .parallax-box__wrapper {
      transform: scale(1.1);
    }
  }
}

.is-loaded {
  .menu {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: .7s;
  }

  .header {
    opacity: 1;
    transform: translateX(0);
    transition-delay: .1s;
    visibility: visible;

    &__title {
      transform: translateY(0);
      transition-delay: .1  s;
      visibility: visible;
    }

    &__wrapper {
      &:after {
        transform: scaleY(0);
        transition-delay: .8s;
      }
    }
  }

  .images {
    &__item {
      opacity: 1;
      transform: scaleY(1);
    }

    &__wrapper:nth-child(1) {
      .images__item {
        transition-delay: .1s;
      }
    }

    &__wrapper:nth-child(2) {
      .images__item {
        transition-delay: .4s;
        transform: scaleY(1) translateY(-80px);
      }
    }
  }

  .social {
    &__item {
      transform: translateY(0);
      opacity: 1;

      &:hover {
        transform: scale(1.1) translateY(0);
        cursor: pointer;
        transition-delay: 0s !important;
      }
    }

    &__item:nth-child(1) {
      transition-delay: .4s;
    }

    &__item:nth-child(2) {
      transition-delay: .5s;
    }

    &__item:nth-child(3) {
      transition-delay: .6s;
    }
  }

  .grid {
    &__column {
      transform: scaleY(1);
      transition-delay: .1s;
    }

    &__column:nth-child(2) {
      transition-delay: .3s;
    }

    &__column:nth-child(3) {
      transition-delay: .6s;
    }

    &__column:nth-child(4) {
      transition-delay: .9s;
    }
  }

  .fade {
    &__content {
      left: 20vw;
      transition-delay: .1s;
    }
  }

  .background {
    transition-delay: .1s;
    opacity: 1;
  }

  .explore {
    transition-delay: .5s;
    transform: rotate(-90deg) translateY(-50%);
  }
}

.is-visible {
  &.parallax-box {
    transition-delay: .1s;
    opacity: 1;
    visibility: visible;
    transform: scaleX(1);
  }

  &.comments {
    transform: translateY(0);
    transition-delay: .6s;
    visibility: visible;
  }
}
